POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
POSTGRES_DB=foodgram
DB_HOST=db
DB_PORT=5432
SECRET_KEY=  # Input-your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost 127.0.0.1  # Input-your-domain-name-here
DB_TYPE=postgres
